{{> menu id="dashboard"}}

{{#each playlists}}
  
    <section class="ui left aligned middle aligned scrolling segment">
      <h3 class="ui header">
        {{title}}
      </h3>      
    </section>
  
{{/each}}
